@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Protest+Riot&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.null {
  opacity: 0;
}

.fa-facebook {
  color: #316ff6;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-discord {
  color: #7289da;
}

.fa-copy,
.fa-check {
  transition: color 0.3s ease; /* Add a transition effect to the color */
}

.highlight {
  color: #e94057;
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
